.title-product {
    font-size: 24px;
    color: #b3262c;
    padding: 0px;
    margin: 0px 0px 5px 0px;
    text-transform: uppercase;
    font-size: 18px;
}
.title-pro {
    margin: 0px;
    padding: 0px;
    color: #333333;
    font-size: 17px;
    font-weight: 600;
}
.gia {

    margin: 10px 0;
    padding: 5px 0;
    border: 2px solid #666;
    border-width: 1px 0;
    color: #b3262c;
    font-size: 17px;

}
.size {
    padding: 15px 0;
    button {
       display: inline-block;
        min-width: 35px !important;
        height: 35px !important;
       margin-right: 10px;
        text-align: center;
        background: #fff;
        color: #333333;
        line-height: 35px;
        white-space: nowrap;
        font-size: 12px;
        border: 1px solid #ccc;
        cursor: pointer;
        position: relative;
        transition: all .3s ease;
    }
    .active-btn {
        border: 1px solid #e4393c;
    }
}