<h2 title-product text-center>  pizza số 2</h2>
<ion-grid>
  <ion-row>
    <ion-col size-md='6' size-xs='12'>
      <div class="box-img" align-item-center flex justify-content-center> 
        <img src="//product.hstatic.net/1000259614/product/upload_ec130c045a424b3598ea0d373e3d4f24_master.jpg" alt="">
      </div>
    </ion-col>
    <ion-col size-md='6' size-xs='12'>
      <h3 class='title-pro'>Pizza Số 2</h3>
      <div class="gia">170, 999 đ</div>
      <div class="size">
        <p>Đường Kính</p>
        <button>40cm</button>
        <button>30cm</button>
        <button>20cm</button>
      </div>
      <div class="cart">
        <ion-button color='danger'>Thêm vào giỏ hàng</ion-button>
        <ion-button color='danger' padding-left fill='outline'>Mua ngay</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>